<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/modernizr.js"></script>
  </head>
  <body>
    
    <header class="row">
      <div class="large-12 columns">
        <h1>Spike, motherfucker!</h1>
      </div>
    </header>

    <div id="main">
      <div id="form"></div>
      <div id="content"></div>
    </div>

    <div id="footer"></div>
    
    <script src="js/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/backbone.marionette/underscore.js"></script>
    <script src="js/backbone.marionette/backbone.js"></script>
    <script src="js/backbone.marionette/backbone.marionette.js"></script>
    <script src="js/handlebars/handlebars.js"></script>

    <script src="js/app/main.js"></script>    
    <script>
      $(document).foundation();
    </script>

    <script type="text/x-handlebars-template" id="forms-tpl">
    <div></div>
    </script>

    <script type="text/x-handlebars-template" id="form-tpl">
    <div class="row">
      <div class="large-4 columns">
        <label>Nome</label>
        <input type="text" name="nome" value="{{name}}">
      </div>
      <div class="large-8 columns">
        <label>Sobrenome</label>
        <input type="text" name="sobrenome" value="{{sobrenome}}">
      </div>
      <div class="large-12 columns">
        <button>Salvar</button>
      </div>
    </div>
    </script>
  </body>
</html>
